<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/style.css">
</head>
<body class="dark-mode">

    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-6">

                <p class="text-danger text-right mt-5 mb-1 small">Dark Mode</p>
                <div class="mt-0 form-group text-right">
                    <div class="custom-control switch">
                        <input type="checkbox" class="custom-control-input switch" id="switch" name="switch" checked>
                        <label class="form control custom-control-label text-danger" for="switch"></label>
                    </div>
                </div>
                
                <div class="text-center">
                    <h1 class="text-danger my-4">Admin Dashboard:</h1>
                </div>

                <div class="d-flex justify-content-center my-2">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 my-2">
                        <button class="btn btn-success"><a class="text-decoration-none text-white" href="/admin_character">Character Creation</a></button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 my-2">
                        <button class="btn btn-primary"><a class="text-decoration-none text-white" href="/admin_character_view">View Characters</a></button>
                    </div>
                </div>
                <div class="d-flex justify-content-center my-2">
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 my-2">
                        <button class="btn btn-success"><a class="text-decoration-none text-white" href="/admin_item">Story Item Creation</a></button>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 my-2">
                        <button class="btn btn-primary"><a class="text-decoration-none text-white" href="/admin_item_view">View Story Items</a></button>
                    </div>
                </div>
                <div class="d-flex justify-content-center my-2">
                    <div class="text-center my-2 col-12">
                        <button class="btn btn-secondary"><a class="text-decoration-none text-white" href="/">Back to User Login</a></button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        const switchBtn = document.querySelector("#switch");
        const body = document.querySelector("body");
        const html = document.querySelector("html");

        switchBtn.addEventListener("change", (event) => {
            if(event.target.checked){
                body.classList.remove("light-mode");
                body.classList.add("dark-mode");
                html.classList.add("dark-mode");
            } else {
                body.classList.remove("dark-mode");
                body.classList.add("light-mode");
                html.classList.remove("dark-mode");
            }
        });

    </script>

</body>
</html>
