<!DOCTYPE html>
<html>
<head>
    <title>Character Creation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style/style.css">
</head>
<body class="dark-mode">

    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-6">
                
                <div class="text-center">
                    <h1 class="text-danger my-4">Character Creation:</h1>
                </div>

                <form id="regForm" action="/register_character" method="post">

                    {% with messages = get_flashed_messages(category_filter=['register']) %}
                        {% if messages %}
                            <div class="alert alert-danger" role="alert">
                                <strong><u>Entry Error:</u></strong>
                                {% for message in messages %}
                                    <p class="mt-2"> - {{message}}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}

                    <a href="/admin_character_alt" class="d-flex justify-content-center btn btn-link text-center text-primary small"> - Clear Form - </a>

                    <div class="form-group">
                        <label for="login_username" class="text-danger">Username</label>
                        {% if session['login_username'] %}
                            <input value="{{session['login_username']}}" type="text" class="form-control" name="login_username" id="login_username" placeholder="Enter username...">
                        {% else %}
                            <input type="text" class="form-control" name="login_username" id="login_username" placeholder="Enter username...">
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="login_password" class="text-danger">Password</label>
                        <input type="password" class="form-control" name="login_password" id="login_password" placeholder="Enter password...">
                    </div>
                    <div class="form-group">
                        <label for="confirm_password" class="text-danger">Confirm Password</label>
                        <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm password...">
                    </div>
                    <div class="form-group">
                        <label for="role" class="text-danger">Character's Role</label>
                        {% if session['role'] %}
                            <input value="{{session['role']}}" type="text" class="form-control" name="role" id="role" placeholder="Enter role...">
                        {% else %}
                            <input type="text" class="form-control" name="role" id="role" placeholder="Enter role...">
                        {% endif %}
                        
                    </div>
                    <div class="form-group">
                        <label for="relationship" class="text-danger">Character's Relationship</label>
                        {% if session['relationship'] %}
                            <input value="{{session['relationship']}}" type="text" class="form-control" name="relationship" id="relationship" placeholder="Enter relationship...">
                        {% else %}
                            <input type="text" class="form-control" name="relationship" id="relationship" placeholder="Enter relationship...">
                        {% endif %}
                        
                    </div>
                    <div class="form-group">
                        <label for="potential_motive" class="text-danger">Potential Motive</label>
                        {% if session['potential_motive'] %}
                            <input value="{{session['potential_motive']}}" type="textarea" rows="3" resize="vertical" class="form-control" name="potential_motive" id="potential_motive" placeholder="Why murder?">
                        {% else %}
                            <input type="textarea" rows="3" resize="vertical" class="form-control" name="potential_motive" id="potential_motive" placeholder="Why murder?">
                        {% endif %}
                        
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a href="/admin_dashboard" class="btn btn-link text-center text-danger text-decoration-none col-2 mr-3 border-danger">Cancel</a>
                        <button type="submit" value="Enter" class="my-4 btn btn-danger btn-block col-9">Submit Character</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <script>

        function clearForm(){
            document.getElementById("regForm").reset();
        }

    </script>

</body>
</html>
